<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>口算训练</title>
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">-->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="css/answer.css">    
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/es6-promise.auto.min.js"></script>
    <script type="text/javascript" src="js/axios.min.js"></script>
</head>
<body>
<div :class="{'coverWrap':isCoverShow}" id="vm" style="height:100%;">
	<div class="cover" v-show="isCoverShow">
		<div class="box">
			<p><img src="img/cover.jpg"></p>
            <a href="javascript:void(0)"><img src="img/coverbtn.png" v-on:click="beginAnswerClick" /></a>
		</div>
	</div>

	<div class="answerPop" v-show="isAnswerShow">
		<div class="topmental clearfix">
			<div class="numtime">
				<p><span>题目</span><em>{{ currentTestIndex }}<i>/</i><i>{{ totalTestNum }}</i></em></p>
				<p><span>耗时</span><em>{{ clock }}</em></p>
			</div>
			<div class="write" v-on:click.stop="hideCursor">
				<span v-for="(item,index) in currentTestHtmlText" :key="index" v-if="index<currentTestHtmlText.length-1">
					<em v-if="index==currentTestHtmlText.length-2">=</em>
					<span v-if="testNum(item)">{{item}}</span>
					<em v-else-if="testOperator(item)">{{item}}</em>
					<span v-else-if="testBlank(item)" :class="resultWrapper" v-on:click.stop="showCursor" v-on:touchstart.stop.prevent="lineTouchStart($event)" v-on:touchmove.stop.prevent="lineTouchMove($event)" v-on:touchend.stop.prevent="lineTouchEnd($event)">
						<span class="inpWrap" ref="inpWrap">
							<span v-for="item in valList" :class="{line:item.isLine}" >{{item.val}}</span>
						</span>
					</span>
				</span>
			</div>
		</div>		
		<div class="keywrite">
			<ul class="clearfix">
                <li v-on:click="numberClick($event)"><a>1</a></li>
                <li v-on:click="numberClick($event)"><a>2</a></li>
                <li v-on:click="numberClick($event)"><a>3</a></li>
                <li v-on:click="numberClick($event)"><a>4</a></li>
                <li v-on:click="numberClick($event)"><a>5</a></li>
                <li v-on:click="numberClick($event)"><a>6</a></li>
                <li v-on:click="numberClick($event)"><a>7</a></li>
                <li v-on:click="numberClick($event)"><a>8</a></li>
                <li v-on:click="numberClick($event)"><a>9</a></li>
                <li v-on:click="numberClick($event)"><a>0</a></li>
                <li v-on:click="numberClick($event)"><a>.</a></li>
                <li v-on:click="numberClick($event)"><a><span></span></a></li>
			</ul>
		</div>
        <div class="nextbtn"><a v-on:click.stop="nextTestClick">{{nextBtnContent}}</a></div>
	</div>
	
	<div class="ansResult" v-show="isAnsResultShow">
		<div class="resultPop clearfix">
			<div class="lbox">
				<div class="task_canvas">
					<canvas id="yuan"></canvas>
				</div>
				<div class="list">
					<ul>
						<li class="li1"><span>答对题目数</span><em>{{totalRightNum}}</em></li>
						<li class="li2"><span>答错题目数</span><em>{{totalWrong}}</em></li>
						<li class="li3"><span>耗时/秒</span><em>{{clock}}</em></li>
					</ul>
				</div>	
			</div>
			<div class="rbox">
                <ul class="clearfix">
                    <li v-for="idx in ansResults" v-html="getAnsResultItemHtml(idx)"></li>
                </ul>
			</div>
		</div>
	
        <div class="btnbar">
			<!-- <a href="javascript:;"><img title="重做" src="img/redo.png" /></a> -->
			<a @click="redo()"><img title="重做" src="img/redo.png" /></a>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/rules.js"></script>
<script type="text/javascript" src="js/answer.js"></script>
</body>
</html>